<h1>Login Page</h1>

<%= form_for(:session, url: sessions_create_path) do |f| %>
<p>Username : <%= f.text_field :username %></p>
<p>Email : <%= f.email_field :email %></p>
<p>Password : <%= f.password_field :password %></p>
<p><%= f.submit "Login" %></p>
<% end %>