<h1>Edit Page for <%= @listing.title %></h1>

<%= form_for @listing, :html => {:multipart => true} do |f| %>
<p>Add Image : <%= f.file_field :image %>
<p>Edit Title : <%= f.text_field :title %></p>
<%= f.submit "Edit Listing" %>
<% end %>

<br>

<h3>Edit Tags</h3>
<p>Tags currently attached: 
<% @listing.taggables.each do |l| %>
	<button type="button" class="btn btn-danger btn-sml">
	<%= l.tag.name %>
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>

<% end %>

<%= form_tag(addingtag_path(@listing.id)) do %>
<%= text_field_tag "name" %> 
<%= submit_tag "Add Tag" %>
<% end %>

<%= button_to "Done adding tags", listings_path, :method => "get" %>

<p><%= link_to "Back", listings_path %>