<h2 class="intro"><span style="color: red">Airbnb Book</span> unique homes and experience a city like a local.</h2>

<%= will_paginate @listings %>
<br>

<% @listings.each do |l| %>
	<table>
		<td>
			<tr><span class="listing-title"><%= l.title %></span></tr>
			<tr><%= image_tag l.image, class: "image-container"%></tr>
			</div>
		<tr><%= link_to listing_path(l.id), class: "btn btn-success btn-sml" do %>
		<i class="glyphicon glyphicon-picture"></i> Show	
		</tr>
		<% end %>

		<tr><%= link_to edit_listing_path(l.id), class: "btn btn-warning btn-sml" do %>
		<i class="glyphicon glyphicon-pencil"></i> Edit	
		</tr>
		<% end %>

		<tr><%= link_to new_booking_path(l.id),  class: "btn btn-primary btn-sml" do %>
		<i class="glyphicon glyphicon-forward"></i> Book	
		</tr>
		<% end %>

		<tr><%= link_to listing_path(l.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sml" do %>
		<i class="glyphicon glyphicon-trash"></i> Delete	
		</tr>
		<% end %>

		<p>Tags: 
		<% l.taggables.each do |t| %>

		<button type="button" class="btn btn-info btn-xs">
		<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
		<%= t.tag.name %>
		</button>

		<% end %></p>

		<p>Created by:
		<% if l.user %>
			<tr><%= l.user.email %></tr>
		<% end %></p>
		<br>
	</td>
	</div>
	<% end %>
</ul>
</table>
<%= will_paginate @listings %>


<p><%= link_to "Create new listing", new_listing_path %></p>
<p><%= link_to "Back", root_path %></p>