<h1>Listing Index</h1> 

<%= will_paginate @listings %>
<br>
<table>
</table>
<% @listings.each do |l| %>
	<li><td>
			<tr><%= l.title %></tr>
			<tr><%= image_tag l.image_url.to_s %></tr>
		<tr><%= link_to listing_path(l.id), class: "btn btn-success btn-sml" do %>
		<i class="glyphicon glyphicon-picture"></i> Show	
		</tr>
		<% end %>

		<tr><%= link_to edit_listing_path(l.id), class: "btn btn-warning btn-sml" do %>
		<i class="glyphicon glyphicon-pencil"></i> Edit	
		</tr>
		<% end %>

		<tr><%= link_to book_path(l.id), method: :post, data: {confirm: "Do you wish to proceed with your booking?"}, class: "btn btn-primary btn-sml" do %>
		<i class="glyphicon glyphicon-forward"></i> Book	
		</tr>
		<% end %>

		<tr><%= link_to listing_path(l.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sml" do %>
		<i class="glyphicon glyphicon-trash"></i> Delete	
		</tr>
		<% end %>

		<p>Tags: 
		<% l.taggables.each do |t| %>

		<button type="button" class="btn btn-info btn-xs">
		<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
		<%= t.tag.name %>
		</button>

		<% end %></p>

		<p>Created by:
		<% if l.user %>
			<tr><%= l.user.email %></tr>
		<% end %></p>
		<br>
	</td></li>
<% end %>
</ul>
</table>
<%= will_paginate @listings %>


<p><%= link_to "Create new listing", new_listing_path %></p>
<p><%= link_to "Back", root_path %></p>